---
import './AboutIntro.scss';
---

<section class="about-intro" aria-label="Intro section">
    <figure class="about-intro__figure">
        <video src="" class="about-intro__video" poster="img/AboutIntro/about-intro.webp" aria-label="Button play"></video>
        <button type="button" class="about-intro__play">
            <svg width="64" height="75" viewBox="0 0 64 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M64 37.5L0.249997 74.3061L0.25 0.693917L64 37.5Z" fill="white"></path>
            </svg>
        </button>
        <figcaption class="about-intro__figcaption">Наш автоматизированный склад в Португалии</figcaption>
    </figure>
</section>
