---
import '@/styles/main.scss';
import './NotFound.scss'
import Header from '@/layouts/Header/Header.astro';
---

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <title>Shopi</title>
    </head>
    <body>
        <div class="notFound">
            <Header />
            <img class="notFound__img" src="img/404/404.webp" alt="404 placeholder" width="1440" height="775" />
            <div class="notFound__inner">
                <h1 class="notFound__title">404</h1>
                <p class="notFound__text">Такой страницы не существует</p>
                <a href="/" class="notFound__link btn btn--black">На главную</a>
            </div>
        </div>
    </body>
</html>
