---
import './Decor.scss';
---

<section class="decor" aria-label="decor">
    <div class="decor__wrap decor__wrap--xl">
        <ul class="decor__list">
            <li class="decor__item">Zara</li>
            <li>/</li>
            <li class="decor__item">Zara home</li>
            <li>/</li>
            <li class="decor__item">Massimo dutti</li>
            <li>/</li>
            <li class="decor__item">H&M</li>
            <li>/</li>
            <li class="decor__item">Oysho</li>
            <li>/</li>
            <li class="decor__item">Cos</li>
            <li>/</li>
            <li class="decor__item">Kiko</li>
            <li>/</li>
            <li class="decor__item">Mango</li>
            <li>/</li>
            <li class="decor__item">Mango outlet</li>
            <li>/</li>
            <li class="decor__item">Calzedonia</li>
            <li>/</li>
            <li class="decor__item">Arket</li>
        </ul>
        <div class="decor__more">
            <p>еще 70+ брендов</p>
            <a href="/brands"
                >Смотреть все <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6752 0.46357L18.0611 6.63774L12.2941 12.4575L11.4288 11.4655L15.614 7.24197L0.0485356 6.74736L0.091833 5.38477L15.6573 5.87937L11.7486 1.3986L12.6752 0.46357Z" fill="#A6CE2D"></path>
                </svg></a
            >
        </div>
    </div>
    <div class="decor__wrap decor__wrap--lg">
        <ul class="decor__list">
            <li class="decor__item">Zara</li>
            <li>/</li>
            <li class="decor__item">Zara home</li>
            <li>/</li>
            <li class="decor__item">Massimo dutti</li>
            <li>/</li>
            <li class="decor__item">H&M</li>
            <li>/</li>
            <li class="decor__item">Oysho</li>
        </ul>
        <ul class="decor__list">
            <li class="decor__item">Cos</li>
            <li>/</li>
            <li class="decor__item">Kiko</li>
            <li>/</li>
            <li class="decor__item">Mango</li>
            <li>/</li>
            <li class="decor__item">Mango outlet</li>
            <li>/</li>
            <li class="decor__item">Calzedonia</li>
            <li>/</li>
            <li class="decor__item">Arket</li>
        </ul>
        <div class="decor__more">
            <p>еще 70+ брендов</p>
            <a href="/brands"
                >Смотреть все <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6752 0.46357L18.0611 6.63774L12.2941 12.4575L11.4288 11.4655L15.614 7.24197L0.0485356 6.74736L0.091833 5.38477L15.6573 5.87937L11.7486 1.3986L12.6752 0.46357Z" fill="#A6CE2D"></path>
                </svg></a
            >
        </div>
    </div>
    <div class="decor__wrap decor__wrap--sm">
        <ul class="decor__list">
            <li class="decor__item">Zara</li>
            <li>/</li>
            <li class="decor__item">Zara home</li>
            <li>/</li>
            <li class="decor__item">Massimo dutti</li>
        </ul>
        <ul class="decor__list">
            <li class="decor__item">H&M</li>
            <li>/</li>
            <li class="decor__item">Oysho</li>
            <li>/</li>
            <li class="decor__item">Cos</li>
            <li>/</li>
            <li class="decor__item">Kiko</li>
            <li>/</li>
            <li class="decor__item">Mango</li>
        </ul>
        <ul class="decor__list">
            <li class="decor__item">Mango outlet</li>
            <li>/</li>
            <li class="decor__item">Calzedonia</li>
            <li>/</li>
            <li class="decor__item">Arket</li>
        </ul>
        <div class="decor__more">
            <p>еще 70+ брендов</p>
            <a href="/brands"
                >Смотреть все <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6752 0.46357L18.0611 6.63774L12.2941 12.4575L11.4288 11.4655L15.614 7.24197L0.0485356 6.74736L0.091833 5.38477L15.6573 5.87937L11.7486 1.3986L12.6752 0.46357Z" fill="#A6CE2D"></path>
                </svg></a
            >
        </div>
    </div>
</section>
