---
import SearchInput from '@/components/ui/SearchInput/SearchInput.astro';
import './BrandsSearch.scss';
---

<section class="search">
    <div class="container">
        <div class="search__inner">
            <div class="search__top">
                <h1 class="search__title">Бренды</h1>
                <SearchInput />
            </div>
            <div class="search__alphabet">
                <div class="search__alphabet-wrap">
                    <button class="search__alphabet-btn search__alphabet-btn--active" type="button">A</button>
                    <button class="search__alphabet-btn" type="button">B</button>
                    <button class="search__alphabet-btn" type="button">C</button>
                    <button class="search__alphabet-btn" type="button">D</button>
                    <button class="search__alphabet-btn" type="button">E</button>
                    <button class="search__alphabet-btn" type="button">F</button>
                    <button class="search__alphabet-btn" type="button">G</button>
                    <button class="search__alphabet-btn" type="button">H</button>
                    <button class="search__alphabet-btn" type="button">I</button>
                    <button class="search__alphabet-btn" type="button">J</button>
                    <button class="search__alphabet-btn" type="button">K</button>
                    <button class="search__alphabet-btn" type="button">L</button>
                    <button class="search__alphabet-btn" type="button">M</button>
                    <button class="search__alphabet-btn" type="button">N</button>
                    <button class="search__alphabet-btn" type="button">O</button>
                    <button class="search__alphabet-btn" type="button">P</button>
                    <button class="search__alphabet-btn" type="button">Q</button>
                    <button class="search__alphabet-btn" type="button">R</button>
                    <button class="search__alphabet-btn" type="button">S</button>
                    <button class="search__alphabet-btn" type="button">T</button>
                    <button class="search__alphabet-btn" type="button">U</button>
                    <button class="search__alphabet-btn" type="button">V</button>
                    <button class="search__alphabet-btn" type="button">W</button>
                    <button class="search__alphabet-btn search__alphabet-btn--disabled" type="button">X</button>
                    <button class="search__alphabet-btn" type="button">Y</button>
                    <button class="search__alphabet-btn" type="button">Z</button>
                </div>
                <p class="search__alphabet-text">*Для доставки доступны любые бренды, у&nbsp;которых есть беспошлинная доставка в&nbsp;Португалию</p>
            </div>
            <div class="search__list">
                <div class="search__items">
                    <div class="search__column">
                        <div class="search__item">Zara</div>
                        <div class="search__item">Zara home</div>
                        <div class="search__item">Massimo dutti</div>
                        <div class="search__item">H&m</div>
                    </div>
                    <div class="search__column">
                        <div class="search__item">Oysho</div>
                        <div class="search__item">COS</div>
                        <div class="search__item">Kiko</div>
                        <div class="search__item">Mango</div>
                    </div>
                    <div class="search__column">
                        <div class="search__item">Mango outlet</div>
                        <div class="search__item">Calzedonia</div>
                        <div class="search__item">Arket</div>
                    </div>
                </div>

                <div class="search__elem">
                    <div class="search__char">A</div>
                    <div class="search__items">
                        <div class="search__column">
                            <div class="search__item">Acne studios</div>
                            <div class="search__item">Add</div>
                            <div class="search__item">Adidas</div>
                        </div>
                        <div class="search__column">
                            <div class="search__item">Adolfo dominguez</div>
                            <div class="search__item">Agatha ruiz de la prada</div>
                            <div class="search__item">Antony morato</div>
                        </div>
                        <div class="search__column">
                            <div class="search__item">Arket</div>
                            <div class="search__item">Armani</div>
                            <div class="search__item">Axel arigato</div>
                        </div>
                    </div>
                </div>

                <div class="search__elem">
                    <div class="search__char">B</div>
                    <div class="search__items">
                        <div class="search__column">
                            <div class="search__item">Balenciaga</div>
                            <div class="search__item">Balmain</div>
                            <div class="search__item">Beppi</div>
                            <div class="search__item">Bershka</div>
                            <div class="search__item">Bikkembergs</div>
                        </div>
                        <div class="search__column">
                            <div class="search__item">Bimba y lola</div>
                            <div class="search__item">Birkenstock</div>
                            <div class="search__item">Boboli</div>
                            <div class="search__item">Bottega veneta</div>
                        </div>
                        <div class="search__column">
                            <div class="search__item">Braccialini</div>
                            <div class="search__item">Brunello cucinelli</div>
                            <div class="search__item">Burberry</div>
                            <div class="search__item">Byredo</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
