$main-font: 'SF';
$second-font: 'Neue';

$color-dark: #353638;
$color-light: #fff;
$color-accent: #a6ce2d;
$color-border: #dbdbdb;
$color-gray: #8a8a8a;
$color-accent-btn: #c4f041;
$color-accent-2: #88ac1d;
