@use './fonts';
@use './reset';
@use './vars' as *;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 25px;
}

body {
    font-family: $main-font;
    color: $color-dark;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 2;
}

dialog::backdrop,
dialog::-webkit-backdrop {
    background-color: rgb(53, 54, 56, 0.8);
}

.container {
    max-width: 1315px;
    margin: 0 auto;
    padding: 0 20px;
}

.swiper-pagination-progressbar-fill {
    background: #c4f041 !important;
    height: 2px !important;
    top: -1px !important;
}


.notFound .header {
    background: transparent;
}