---
import './Hero.scss';
---

<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__info">
                <div class="hero__info-item">
                    <span class="hero__info-text">Доставка</span>
                    <span class="hero__info-value">11,99 €</span>
                </div>
                <div class="hero__info-item">
                    <span class="hero__info-text">Примерные сроки</span>
                    <span class="hero__info-value">2–3 недели</span>
                </div>
            </div>
            <a href="/brands" class="hero__link">
                Zara, Massimo Duti и еще
                <div class="hero__link-wrap">
                    70+ брендов <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.56554 0.5L13.75 5L9.56554 9.5L8.89325 8.77701L11.93 5.51123L0.25 5.51123L0.25 4.48877H11.93L8.89325 1.22299L9.56554 0.5Z" fill="#A6CE2D"></path>
                    </svg>
                </div>
            </a>
            <h1 class="hero__title">Выкупаем <br class="hero__title--mobile" /> и доставляем товары <br class="hero__title--mobile" /> из Португалии <br> в Казахстан</h1>
        </div>
        <div class="hero__img-wrap">
            <img src="img/Hero/hero-img.webp" alt="Model" fetchpriority="high" width="724" height="547" class="hero__img" />
        </div>
    </div>
</section>
