---
import './Contact.scss';
---

<section class="contacts">
    <div class="contacts__container">
        <h1 class="contacts__title">Контакты</h1>
        <div class="contacts__wrap">
            <div class="contacts__item">
                <h2 class="contacts__subtitle">По любым вопросам пишите</h2>
                <div class="contacts__block">
                    <div class="contacts__elem">
                        <div class="contacts__text">На электронную почту</div>
                        <div class="contacts__content">
                            <div class="contacts__text contacts__text--link contacts--tooltip">
                                <span>support@shopi.com</span>
                                <div class="contacts__tooltip">Почта скопирована!</div>
                            </div>
                            <a class="contacts__text btn btn--transparent" href="mailto:support@shopi.com" target="_blank">
                                <span>Написать</span>
                                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.01131 0.80302L11.0799 0.80302L11.0799 6.87156L10.1049 6.87156L10.1049 2.46745L1.63533 10.937L0.945903 10.2475L9.41542 1.77802L5.01131 1.77802L5.01131 0.80302Z" fill="#353638"></path>
                                </svg></a
                            >
                        </div>
                    </div>
                    <div class="contacts__elem">
                        <div class="contacts__text">Чат-боту ассистенту в телеграмме</div>
                        <div class="contacts__content">
                            <div class="contacts__telegram">
                                <img src="icons/contacts.svg" alt="Char S" width="52" height="52" />
                                <div>
                                    <div class="contacts__text">Shopi assistaint</div>
                                    <span class="contacts__descr">Готовы помочь 24/7</span>
                                </div>
                            </div>
                            <a class="contacts__text btn btn--transparent" href="" target="_blank">
                                <span>Открыть</span>
                                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.01131 0.80302L11.0799 0.80302L11.0799 6.87156L10.1049 6.87156L10.1049 2.46745L1.63533 10.937L0.945903 10.2475L9.41542 1.77802L5.01131 1.77802L5.01131 0.80302Z" fill="#353638"></path>
                                </svg></a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts__item">
                <h2 class="contacts__subtitle">Адрес для писем в Португалии</h2>
                <div class="contacts__elem">
                    <div>
                        <div class="contacts__descr">Название компании</div>
                        <span class="contacts__text">SHOPPING PORTUGAL SHPS UNIPESSOAL LDA, LDA</span>
                    </div>
                    <div>
                        <div class="contacts__descr">Адрес</div>
                        <address class="contacts__text">APARTADO 57, EC S.Pedro do Estoril, 2766-501 S.Pedro do Estoril, PORTUGAL</address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
