---
import './AboutInfo.scss';
---

<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__elem">
                <h1 class="about__title">О нас</h1>
                <p class="about__descr">Shopi&nbsp;&mdash; сервис покупок в&nbsp;Португалии, Испании, Италии и&nbsp;других странах ЕС. Работаем с&nbsp;2013&nbsp;года, как часть португальской компании Shopping Portugal. Нам доверяют более 20&nbsp;000 постоянных клиентов со&nbsp;всего мира.</p>
            </div>
            <div class="about__info">
                <div class="about__item">
                    <div class="about__value">
                        <span>от</span>
                        <div class="about__value-title">20 000</div>
                    </div>
                    <span class="about__descr">постоянных клиентов</span>
                </div>
                <div class="about__item">
                    <span class="about__descr about__item--offset">работаем</span>
                    <div class="about__value">
                        <span>c</span>
                        <div class="about__value-title">2013</div>
                        <span>года</span>
                    </div>
                </div>
            </div>
            <div class="about__content">
                <h2 class="about__subtitle">Почему нас выбирают</h2>
                <ul class="about__list">
                    <li class="about__descr about__list-item">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0162 0.687256L23.2584 5.28636V18.7137L12.0001 23.3194L0.741776 18.7137V4.78704L12.0162 0.687256ZM2.25844 6.44776V17.6955L11.2418 21.3705V10.1228L2.25844 6.44776ZM12.7584 10.1448V21.3705L21.7418 17.6955V6.87814L12.7584 10.1448ZM20.3955 5.75385L12.0162 8.80089L3.60467 5.35982L11.984 2.31278L20.3955 5.75385Z" fill="#353638"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.36375 17.6601V16.3193L9.13647 18.2718V19.6125L4.36375 17.6601Z" fill="#353638"></path>
                        </svg>
                        Доставляем оригинальные вещи европейских брендов по&nbsp;ценам магазинов.
                    </li>
                    <li class="about__descr about__list-item">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0162 0.687256L23.2584 5.28636V18.7137L12.0001 23.3194L0.741776 18.7137V4.78704L12.0162 0.687256ZM2.25844 6.44776V17.6955L11.2418 21.3705V10.1228L2.25844 6.44776ZM12.7584 10.1448V21.3705L21.7418 17.6955V6.87814L12.7584 10.1448ZM20.3955 5.75385L12.0162 8.80089L3.60467 5.35982L11.984 2.31278L20.3955 5.75385Z" fill="#353638"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.36375 17.6601V16.3193L9.13647 18.2718V19.6125L4.36375 17.6601Z" fill="#353638"></path>
                        </svg>
                        Берем на&nbsp;себя все этапы покупки: от&nbsp;оплаты до&nbsp;отправки посылки.
                    </li>
                    <li class="about__descr about__list-item">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0162 0.687256L23.2584 5.28636V18.7137L12.0001 23.3194L0.741776 18.7137V4.78704L12.0162 0.687256ZM2.25844 6.44776V17.6955L11.2418 21.3705V10.1228L2.25844 6.44776ZM12.7584 10.1448V21.3705L21.7418 17.6955V6.87814L12.7584 10.1448ZM20.3955 5.75385L12.0162 8.80089L3.60467 5.35982L11.984 2.31278L20.3955 5.75385Z" fill="#353638"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.36375 17.6601V16.3193L9.13647 18.2718V19.6125L4.36375 17.6601Z" fill="#353638"></path>
                        </svg>
                        Поддержка 24/7: помогаем с&nbsp;заказами и&nbsp;сервисом в&nbsp;любое время.
                    </li>
                </ul>
                <h3 class="about__subtitle">Услуги</h3>
                <ul class="about__table">
                    <li class="about__table-item">
                        <div class="about__table-wrap about__descr">
                            <span>Онлайн-выкуп</span>
                            <span class="about__table-text">Заказываем товары в&nbsp;интернет-магазинах, которые доставляют в&nbsp;Португалию</span>
                        </div>
                        <span class="about__descr">Бесплатно</span>
                    </li>
                    <li class="about__table-item">
                        <div class="about__table-wrap about__descr">
                            <span>Объединение заказов</span>
                            <span class="about__table-text">Объединяем несколько заказов в&nbsp;одну посылку</span>
                        </div>
                        <span class="about__descr">Бесплатно</span>
                    </li>
                    <li class="about__table-item">
                        <div class="about__table-wrap about__descr">
                            <span>Хранение</span>
                            <span class="about__table-text">Храним покупки на складе до 3 месяцев</span>
                        </div>
                        <span class="about__descr">Бесплатно</span>
                    </li>
                    <li class="about__table-item">
                        <div class="about__table-wrap about__descr">
                            <span>Доставка</span>
                            <span class="about__table-text">Отправляем надежными транспортными компаниями</span>
                        </div>
                        <span class="about__descr">от 11,99 €</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
