---
import './AboutInfo.scss';
---

<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__elem">
                <h1 class="about__title">О нас</h1>
                <p class="about__descr">Shopi&nbsp;&mdash; сервис покупок в&nbsp;Португалии, Испании, Италии и&nbsp;других странах ЕС. Работаем с&nbsp;2013&nbsp;года, как часть португальской компании Shopping Portugal. Нам доверяют более 20&nbsp;000 постоянных клиентов со&nbsp;всего мира.</p>
            </div>
            <div class="about__info">
                <div class="about__item">
                    <div class="about__value">
                        <span>от</span>
                        <div class="about__value-title">20 000</div>
                    </div>
                    <span class="about__descr">постоянных клиентов</span>
                </div>
                <div class="about__item">
                    <span class="about__descr about__item--offset">работаем</span>
                    <div class="about__value">
                        <span>c</span>
                        <div class="about__value-title">2013</div>
                        <span>года</span>
                    </div>
                </div>
                <div class="about__item">
                    <p class="about__descr">Никаких доплат за наши услуги.Вы оплачиваете только товары и доставку.</p>
                </div>
            </div>
            <div class="about__content">
                <h2 class="about__subtitle">Почему нас выбирают</h2>
                <ul class="about__list">
                    <li class="about__descr about__list-item">
                        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.4254 17.5746V19.0921H0.741201V17.5746H17.4254Z" fill="#353638"></path>
                            <path
                                d="M8.88964 0.1828L14.3424 3.4538L19.4489 0.53713L19.6164 0.447123C21.367 -0.419361 23.5014 0.546067 23.9823 2.4717L24.0335 2.72007C24.225 3.87974 23.7394 5.05032 22.7848 5.73472L22.5729 5.87372L12.769 11.756C12.5202 11.9053 12.251 12.0188 11.9704 12.0933L11.6867 12.1548L5.71662 13.1506H5.71435C5.18016 13.2379 4.63489 13.0963 4.21272 12.7655L4.03954 12.6117L0.219391 8.79152L2.97313 7.41636L3.18049 7.32749C3.67294 7.14971 4.22041 7.17855 4.69465 7.41636L6.12678 8.13186L8.65722 6.56415L3.57242 1.71291L8.58886 0.00164795L8.88964 0.1828ZM22.5114 2.8397C22.2744 1.89038 21.248 1.39869 20.374 1.7676L20.2008 1.85305L14.3242 5.21177L8.41112 1.66392L6.42756 2.34068L11.1239 6.82164L6.20653 9.86705L4.01562 8.7733L4.01448 8.77216C3.92958 8.72965 3.83284 8.71876 3.74104 8.74026L3.65103 8.7733L2.78059 9.20738L5.11164 11.5396L5.18798 11.5988C5.27031 11.6488 5.36926 11.669 5.46711 11.6535L11.4383 10.6589L11.5819 10.6281C11.724 10.5904 11.8612 10.5324 11.9886 10.4561L21.7925 4.57375L21.9007 4.50197C22.3875 4.15282 22.6351 3.55611 22.5376 2.96617L22.5114 2.8397Z"
                                fill="#353638"></path>
                        </svg>
                        Доставляем оригинальные вещи европейских брендов по&nbsp;ценам магазинов.
                    </li>
                    <li class="about__descr about__list-item">
                        <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.739 6.40791L21.274 25.4255H0.726288L3.26128 6.40791H18.739ZM2.4592 23.9079H19.5411L17.4105 7.92549H4.58973L2.4592 23.9079Z" fill="#353638"></path>
                            <path d="M13.7423 4.83337C13.7423 3.41363 12.6641 2.24617 11.2814 2.10583L11.0011 2.09216C9.48678 2.09216 8.25878 3.31902 8.25878 4.83337V10.2588H6.7412V4.83337C6.7412 2.48139 8.64801 0.574585 11 0.574585L11.2199 0.580282C13.4702 0.694103 15.2599 2.55474 15.2599 4.83337V10.2588H13.7423V4.83337Z" fill="#353638"></path>
                            <path
                                d="M13.7412 16.2642C13.7411 15.6012 13.1858 14.9258 12.4378 14.9255C11.9971 14.9255 11.7244 15.1231 11.5605 15.3026L11 15.9156L10.4394 15.3026C10.2756 15.1231 10.0029 14.9255 9.56216 14.9255C8.81415 14.9258 8.25888 15.6012 8.25878 16.2642C8.25878 16.9878 8.7538 17.7291 9.48127 18.3469C9.83019 18.6431 10.1979 18.8806 10.5078 19.0396C10.6624 19.1189 10.7939 19.1743 10.894 19.2082C10.9472 19.2262 10.9821 19.2339 11 19.2378C11.0179 19.2339 11.0527 19.2262 11.1059 19.2082C11.206 19.1743 11.3375 19.1189 11.4922 19.0396C11.8021 18.8806 12.1698 18.6431 12.5187 18.3469C13.2462 17.7291 13.7412 16.9878 13.7412 16.2642ZM15.2588 16.2642C15.2588 17.6555 14.3501 18.7821 13.5008 19.5033C13.0612 19.8766 12.5961 20.1776 12.1849 20.3885C11.9793 20.494 11.7782 20.582 11.5924 20.6449C11.4208 20.703 11.2091 20.7588 11 20.7588C10.7909 20.7588 10.5792 20.703 10.4075 20.6449C10.2218 20.582 10.0207 20.494 9.81509 20.3885C9.40392 20.1776 8.93878 19.8766 8.49918 19.5033C7.64987 18.7821 6.7412 17.6555 6.7412 16.2642C6.74129 14.9046 7.84218 13.4082 9.56216 13.4079C10.1584 13.4079 10.6346 13.5842 11 13.8135C11.3654 13.5842 11.8416 13.4079 12.4378 13.4079C14.1578 13.4082 15.2587 14.9046 15.2588 16.2642Z"
                                fill="#353638"></path>
                        </svg>
                        Берем на&nbsp;себя все этапы покупки: от&nbsp;оплаты до&nbsp;отправки посылки.
                    </li>
                    <li class="about__descr about__list-item">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.8884 5.11163C15.0841 1.30728 8.91603 1.30728 5.11167 5.11163C1.30731 8.91597 1.30731 15.084 5.11167 18.8884C8.916 22.6928 15.0841 22.6928 18.8884 18.8884C22.6928 15.0841 22.6928 8.91599 18.8884 5.11163ZM4.03922 4.03919C8.43587 -0.357463 15.5643 -0.357466 19.9609 4.03919C24.3575 8.43584 24.3575 15.5642 19.9609 19.9609C15.5642 24.3575 8.43585 24.3575 4.03922 19.9609C-0.357433 15.5642 -0.357435 8.43582 4.03922 4.03919Z" fill="#353638"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5885 8.41147C13.6066 6.42956 10.3933 6.42956 8.41138 8.41147C6.42947 10.3934 6.42947 13.6067 8.41138 15.5886C10.3933 17.5705 13.6066 17.5705 15.5885 15.5886C17.5704 13.6067 17.5704 10.3934 15.5885 8.41147ZM7.33894 7.33902C9.91314 4.76482 14.0868 4.76482 16.661 7.33902C19.2352 9.91323 19.2352 14.0868 16.661 16.6611C14.0868 19.2353 9.91314 19.2353 7.33894 16.6611C4.76473 14.0868 4.76473 9.91323 7.33894 7.33902Z" fill="#353638"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.40622 15.5938C8.70236 15.89 8.70236 16.3701 8.40622 16.6663L5.11622 19.9563C4.82007 20.2524 4.33992 20.2524 4.04377 19.9563C3.74762 19.6601 3.74762 19.18 4.04377 18.8838L7.33377 15.5938C7.62992 15.2977 8.11007 15.2977 8.40622 15.5938Z" fill="#353638"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9572 4.04476C20.2528 4.34143 20.2519 4.82158 19.9553 5.1172L16.6536 8.4072C16.3569 8.70283 15.8768 8.70198 15.5812 8.4053C15.2855 8.10863 15.2864 7.62848 15.5831 7.33286L18.8847 4.04286C19.1814 3.74724 19.6615 3.74809 19.9572 4.04476Z" fill="#353638"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.04377 4.04381C4.33992 3.74766 4.82007 3.74766 5.11622 4.04381L8.40622 7.33381C8.70236 7.62996 8.70236 8.11011 8.40622 8.40625C8.11007 8.7024 7.62992 8.7024 7.33377 8.40625L4.04377 5.11625C3.74762 4.82011 3.74762 4.33996 4.04377 4.04381Z" fill="#353638"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5938 15.5938C15.8899 15.2977 16.3701 15.2977 16.6662 15.5938L19.9562 18.8838C20.2524 19.18 20.2524 19.6601 19.9562 19.9563C19.6601 20.2524 19.1799 20.2524 18.8838 19.9563L15.5938 16.6663C15.2976 16.3701 15.2976 15.89 15.5938 15.5938Z" fill="#353638"></path>
                        </svg>
                        Поддержка 24/7: помогаем с&nbsp;заказами и&nbsp;сервисом в&nbsp;любое время.
                    </li>
                </ul>
                <h3 class="about__subtitle">Услуги</h3>
                <ul class="about__table">
                    <li class="about__table-item">
                        <div class="about__table-wrap about__descr">
                            <span>Онлайн-выкуп</span>
                            <span class="about__table-text">Заказываем товары в&nbsp;интернет-магазинах, которые доставляют в&nbsp;Португалию</span>
                        </div>
                        <span class="about__descr">Бесплатно</span>
                    </li>
                    <li class="about__table-item">
                        <div class="about__table-wrap about__descr">
                            <span>Объединение заказов</span>
                            <span class="about__table-text">Объединяем несколько заказов в&nbsp;одну посылку</span>
                        </div>
                        <span class="about__descr">Бесплатно</span>
                    </li>
                    <li class="about__table-item">
                        <div class="about__table-wrap about__descr">
                            <span>Хранение</span>
                            <span class="about__table-text">Храним покупки на складе до 3 месяцев</span>
                        </div>
                        <span class="about__descr">Бесплатно</span>
                    </li>
                    <li class="about__table-item">
                        <div class="about__table-wrap about__descr">
                            <span>Доставка</span>
                            <span class="about__table-text">Отправляем надежными транспортными компаниями</span>
                        </div>
                        <span class="about__descr">от 11,99 €</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
