---
import './Intro.scss';
---

<section class="brands-intro" aria-label="Brands intro section">
    <div class="brands-intro__container">
        <picture>
            <source media="(max-width: 768px)" srcset="img/BrandsIntro/brands-intro-mobile.webp" />
            <img src="img/BrandsIntro/brands-intro.webp" alt="Brands list" fetchpriority="high" width="1380" height="300" class="brands-intro__img" />
        </picture>
    </div>
</section>

<style lang="scss">
</style>
