---
import './SearchInput.scss';
---

<div class="input-search">
    <div class="input-search__icon">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.8752 1.2375C2.86626 1.2375 1.2377 2.86606 1.2377 4.875C1.2377 6.88393 2.86626 8.5125 4.8752 8.5125C6.88413 8.5125 8.5127 6.88393 8.5127 4.875C8.5127 2.86606 6.88413 1.2375 4.8752 1.2375ZM0.262695 4.875C0.262695 2.32758 2.32778 0.262497 4.8752 0.262497C7.42261 0.262497 9.48769 2.32758 9.48769 4.875C9.48769 7.42241 7.42261 9.4875 4.8752 9.4875C2.32778 9.4875 0.262695 7.42241 0.262695 4.875Z" fill="#8A8A8A"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2805 11.5947L7.53048 7.84471L8.21991 7.15528L11.9699 10.9053L11.2805 11.5947Z" fill="#8A8A8A"></path>
        </svg>
    </div>
    <input class="input-search__input" placeholder="Поиск..." type="text" name="search" id="user-search" />
    <button type="button" class="input-search__clear" aria-label="Clear button">
        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.75 1.25L6 6.5M6 6.5L11.25 11.75M6 6.5L11.25 1.25M6 6.5L0.75 11.75" stroke="#B2B2B2" stroke-width="1.3"></path>
        </svg>
    </button>
</div>
