---
import './Info.scss';
---

<section class="info" aria-label="Info section">
    <div class="container">
        <div class="info__wrap">
            <div class="info__elem">
                <div class="info__details">
                    <div class="info__title">Минимум коммуникаций</div>
                    <p class="info__text">Вы&nbsp;оформляете и&nbsp;оплачиваете заказ на&nbsp;Shopi, а&nbsp;вся коммуникация с&nbsp;магазином и&nbsp;службами доставки на&nbsp;нас.</p>
                </div>
                <div class="info__picture">
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/Info/info-1-mobile.webp" />
                        <img class="info__img" src="img/Info/info-1.webp" alt="Info photo" width="303" height="227" />
                    </picture>
                </div>
            </div>
            <div class="info__elem">
                <div class="info__details">
                    <div class="info__title">Без языкового барьера</div>
                    <p class="info__text">Больше не&nbsp;нужно переводить страницы интернет-магазинов чтобы сделать заказ.</p>
                </div>
                <div class="info__picture">
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/Info/info-3-mobile.webp" />
                        <img class="info__img" src="img/Info/info-3.webp" alt="Info photo" width="303" height="227" />
                    </picture>
                </div>
            </div>

            <div class="info__elem">
                <div class="info__details">
                    <div class="info__title">Почему выгоднее покупать в Португалии</div>
                    <ul class="info__text">
                        <li>Уникальные вещи которые не продаются в вашей стране;</li>
                        <li>Европейское качество;</li>
                        <li>Цены на те же товары до 70% ниже.</li>
                    </ul>
                </div>
                <div class="info__picture">
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/Info/info-2-mobile.webp" />
                        <img class="info__img" src="img/Info/info-2.webp" alt="Info photo" width="303" height="227" />
                    </picture>
                </div>
            </div>
            <div class="info__elem">
                <div class="info__details">
                    <div class="info__title">Безопасная оплата</div>
                    <p class="info__text">Предоставляем 4&nbsp;способа оплаты, которые работают с&nbsp;казахскими картами.</p>
                </div>
                <div class="info__picture">
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/Info/info-4-mobile.webp" />
                        <img class="info__img" src="img/Info/info-4.webp" alt="Info photo" width="303" height="227" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
