.register {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 768px) {
        padding-bottom: 56px;
    }
    &__container {
        max-width: 536px;
        padding: 0 20px;
        margin: 0 auto;
    }

    &__top {
        margin-bottom: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__title {
        font-family: $second-font;
        font-size: 36px;
        line-height: 1.1;
        font-weight: 400;
        text-align: center;

        cursor: pointer;

        @media (max-width: 768px) {
            font-size: 24px;
        }

        @media (max-width: 350px) {
            font-size: 20px;
        }
    }

    &__title--active {
        color: #8a8a8a;
    }

    &__form {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (max-width: 768px) {
            max-width: unset;
        }
    }

    &__error {
        font-size: 13px;
        color: #f35151;
        font-weight: 300;
        margin-top: -12px;

        display: none;
    }

    &__error--active {
        display: block;
    }

    &__reset {
        margin-top: 16px;
        font-size: 13px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    &__confirm {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__picture {
        text-align: center;
        margin-bottom: 22px;
    }

    &__img {
        object-fit: cover;
    }

    &__text {
        font-size: 15px;
        line-height: 1.3;
        text-align: center;
    }

    &__text-gray {
        font-weight: 300;
        color: #353638;
        font-size: 15px;
        text-align: center;
    }

    &__resend {
        background-color: transparent;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        display: block;
        margin: 0 auto;
        font-size: 15px;
        line-height: 1.3;
        font-family: $main-font;
        cursor: pointer;
    }

    &__password-reset {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    &__password-link {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__tooltip {
        background-color: $color-dark;
        font-size: 15px;
        line-height: 1.3;
        font-weight: 300;
        color: $color-light;
        max-width: 220px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 12px 20px;
    }

    &__decor {
        accent-color: $color-accent;
        pointer-events: none;
    }

    &__exp {
        display: flex;
        flex-direction: column;
        gap: 36px;

        button {
            max-width: 193px;
            margin: 0 auto;
        }
    }

    &__exp-title {
        color: #f35151;
    }
}
