---
import './Manual.scss';
---

<section class="manual" aria-label="Manual section">
    <div class="manual__container">
        <div class="manual__item">
            <div class="manual__info">
                <div class="manual__step">Шаг 1</div>
                <div class="manual__title">Выберите товары <br class="manual__break" /> на сайте бренда</div>
                <div class="manual__descr">Сохраните себе ссылки, цены <br class="manual__break" /> и параметры товаров</div>
            </div>
            <div class="manual__picture">
                <picture>
                    <source media="(max-width: 768px)" srcset="img/Manual/manual-1-mobile.webp" />
                    <img src="img/Manual/manual-1.webp" alt="Step 1" width="628" height="350" class="manual__img" />
                </picture>
            </div>
        </div>
        <div class="manual__item">
            <div class="manual__info">
                <div class="manual__step">Шаг 2</div>
                <div class="manual__title">Оформите заказ на <span>shopi.store</span></div>
                <div class="manual__descr">Укажите ссылки на товары и оплатите заказ</div>
            </div>
            <div class="manual__picture">
                <picture>
                    <source media="(max-width: 768px)" srcset="img/Manual/manual-2-mobile.webp" />
                    <img src="img/Manual/manual-2.webp" alt="Step 2" width="628" height="350" class="manual__img" />
                </picture>
            </div>
        </div>
        <div class="manual__item">
            <div class="manual__info">
                <div class="manual__step">Шаг 3</div>
                <div class="manual__title">Ожидайте доставку до вас</div>
                <div class="manual__descr">Заберите посылку у курьера или на почте</div>
            </div>
            <div class="manual__picture">
                <picture>
                    <source media="(max-width: 768px)" srcset="img/Manual/manual-3-mobile.webp" />
                    <img src="img/Manual/manual-3.webp" alt="Step 3" width="402" height="236" class="manual__img" />
                </picture>
            </div>
        </div>
    </div>
</section>
