---
import './Delivery.scss';
---

<section class="delivery">
    <div class="container">
        <div class="delivery__wrap">
            <p class="delivery__descr">Никаких доплат за&nbsp;наши услуги. Вы&nbsp; оплачиваете только товары и&nbsp;доставку.</p>
            <div class="delivery__info">
                <div class="delivery__item">
                    <span class="delivery__descr">Доставка</span>
                    <span class="delivery__value">11,99 €</span>
                </div>
                <div class="delivery__item">
                    <span class="delivery__descr">Примерные сроки</span>
                    <span class="delivery__value">
                        2–3 недели
                        <svg width="36" height="44" viewBox="0 0 36 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.3008 0.916748L0.75 26.6853H18L15.6992 43.0834L35.25 17.3149H18L20.3008 0.916748Z" fill="#C4F041"></path>
                        </svg></span
                    >
                </div>
            </div>
        </div>
    </div>
</section>
