---
import './Reviews.scss';
---

<section class="reviews" aria-label="Reviews">
    <div class="reviews__container">
        <div class="reviews__inner">
            <div class="reviews__content">
                <div class="reviews__wrap">
                    <div>
                        <div class="reviews__author">
                            <p class="reviews__name">Miramgul</p>
                            <span class="reviews__date">17.01.2025</span>
                        </div>
                        <p class="reviews__text">Здравствуйте, Shopi! Получила свою посылку. Я&nbsp;ваш постоянный покупатель! Третий год получаю большие заказы. Также получила свою долгожданную обувь Uggi... Очень благодарна Вам! Спасибо вашей команде! Процветания вам!🙏🙏🙏Вы даже не&nbsp;представляете, что вы&nbsp;для меня значите и&nbsp;каждый раз с&nbsp;трепетом жду каждую свою вещь😀🙏 Вы&nbsp;для меня чудо☝️🙏🙏🙏</p>
                    </div>
                    <div class="reviews__nav">
                        <div class="swiper-pagination"></div>
                        <div class="reviews__arrows">
                            <div class="swiper-button-prev">
                                <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.57928 0L0 6L5.57928 12L6.47567 11.036L2.42663 6.68164H18V5.31836H2.42663L6.47567 0.963988L5.57928 0Z" fill="#C7C7C7"></path>
                                </svg>
                            </div>
                            <div class="swiper-button-next">
                                <span>Дальше</span>
                                <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4207 12L18 6L12.4207 0L11.5243 0.963988L15.5734 5.31836L0 5.31836L0 6.68164L15.5734 6.68164L11.5243 11.036L12.4207 12Z" fill="#C7C7C7"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source media="(max-width: 475px)" srcset="img/Reviews/reviews-1-mobile.webp" />
                            <img class="reviews__photo" src="img/Reviews/reviews-1.webp" width="628" height="437" loading="lazy" alt="Photo reviews" />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source media="(max-width: 475px)" srcset="img/Reviews/reviews-1-mobile.webp" />
                            <img class="reviews__photo" src="img/Reviews/reviews-1.webp" width="628" height="437" loading="lazy" alt="Photo reviews" />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source media="(max-width: 475px)" srcset="img/Reviews/reviews-1-mobile.webp" />
                            <img class="reviews__photo" src="img/Reviews/reviews-1.webp" width="628" height="437" loading="lazy" alt="Photo reviews" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="reviews__delivery">Доставили за 8 дней</div>
        </div>
    </div>
</section>
