---
import './Modal.scss';
import '@/components/ui/Input/Input.scss';
---

<dialog id="faq-dialog" class="question">
    <div class="question__top">
        <button class="question__close" id="faq-dialog-close">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1.50037L8 8.50037M8 8.50037L15 15.5004M8 8.50037L15 1.50037M8 8.50037L1 15.5004" stroke="#8A8A8A" stroke-width="1.56"></path>
            </svg>
        </button>
        <h3 class="question__title">Задать свой вопрос</h3>
    </div>
    <form class="question__form">
        <div class="input-base">
            <label for="user-name">Как вас зовут</label>
            <input type="text" id="user-name" name="input-name" />
        </div>
        <div class="input-base">
            <label for="user-email">Эл. почта</label>
            <input type="email" id="user-email" name="input-email" />
        </div>
        <div class="question__radio">
            <div class="question__radio-title">По какой проблеме у вас вопрос?</div>
            <div class="question__radio-wrap">
                <div class="question__radio-elem">
                    <input class="question__radio-input" type="radio" id="question-type-delivery" name="question-type" checked />
                    <label class="question__radio-label" for="question-type-delivery">Доставка</label>
                </div>
                <div class="question__radio-elem">
                    <input class="question__radio-input" type="radio" id="question-type-order" name="question-type" />
                    <label class="question__radio-label" for="question-type-order">Заказ</label>
                </div>
                <div class="question__radio-elem">
                    <input class="question__radio-input" type="radio" id="question-type-site" name="question-type" />
                    <label class="question__radio-label" for="question-type-site">Работа сайта</label>
                </div>
            </div>
        </div>
        <div class="input-base input-base--error">
            <label for="user-message">Сообщение</label>
            <textarea name="user-textarea" id="user-message"></textarea>
        </div>
        <p class="question__error question__error--active">Заполните всю необходимую информацию</p>
        <div class="question__policy">
            <input class="question__policy-checkbox" type="checkbox" name="policy" id="policy-rules" />
            <label class="question__policy-text" for="policy-rules">
                Согласен
                <a href="#">c политикой конфиденциальности</a>
            </label>
        </div>
        <div class="question__separator"></div>
        <div class="question__btns">
            <button type="button" class="btn btn--black">Отмена</button>
            <button type="submit" class="btn btn--accent">Отправить вопрос</button>
        </div>
    </form>
</dialog>

<div class="question__confirm">
    <p class="question__confirm-text">Ваш вопрос отправлен</p>
    <button class="question__confirm-btn" type="button" aria-label="Close tip">
        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.25 0.75L6.5 6M6.5 6L11.75 11.25M6.5 6L11.75 0.75M6.5 6L1.25 11.25" stroke="white" stroke-width="1.3"></path>
        </svg>
    </button>
</div>

<script>
    const dialogElem = document.getElementById('faq-dialog');
    const dialogOpenBtn = document.getElementById('faq-dialog-open');
    const dialogCloseBtn = document.getElementById('faq-dialog-close');

    if (dialogOpenBtn && dialogElem) {
        dialogOpenBtn.addEventListener('click', () => {
            // @ts-ignore
            dialogElem.showModal();
            document.body.style.overflow = 'hidden';
        });
    }

    if (dialogCloseBtn && dialogElem) {
        dialogCloseBtn.addEventListener('click', () => {
            // @ts-ignore
            dialogElem.close();
            document.body.style.overflow = 'auto';
        });
    }
</script>
