---
import './Modal.scss';
import '@/components/ui/Input/Input.scss';
---

<dialog id="faq-dialog" class="question">
    <div class="question__top">
        <button class="question__close" id="faq-dialog-close">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1.50037L8 8.50037M8 8.50037L15 15.5004M8 8.50037L15 1.50037M8 8.50037L1 15.5004" stroke="#8A8A8A" stroke-width="1.56"></path>
            </svg>
        </button>
        <h3 class="question__title">Задать свой вопрос</h3>
    </div>
    <form class="question__form">
        <div class="input-base">
            <label for="user-name">Как вас зовут</label>
            <input type="text" id="user-name" name="input-name" />
        </div>
        <div class="input-base">
            <label for="user-email">Эл. почта</label>
            <input type="email" id="user-email" name="input-email" />
        </div>
        <div class="question__radio">
            <div class="question__radio-title">По какой проблеме у вас вопрос?</div>
            <div class="question__radio-wrap">
                <div class="question__radio-elem">
                    <input class="question__radio-input" type="radio" id="question-type-delivery" name="question-type" checked />
                    <label class="question__radio-label" for="question-type-delivery">Доставка</label>
                </div>
                <div class="question__radio-elem">
                    <input class="question__radio-input" type="radio" id="question-type-order" name="question-type" />
                    <label class="question__radio-label" for="question-type-order">Заказ</label>
                </div>
                <div class="question__radio-elem">
                    <input class="question__radio-input" type="radio" id="question-type-site" name="question-type" />
                    <label class="question__radio-label" for="question-type-site">Работа сайта</label>
                </div>
            </div>
        </div>
        <div class="input-base input-base--error">
            <label for="user-message">Сообщение</label>
            <textarea name="user-textarea" id="user-message"></textarea>
        </div>
        <p class="question__error question__error--active">Заполните всю необходимую информацию</p>
        <div class="question__policy">
            <input class="question__policy-checkbox" type="checkbox" name="policy" id="policy-rules" />
            <label class="question__policy-text" for="policy-rules">
                Согласен
                <a href="#">c политикой конфиденциальности</a>
            </label>
        </div>
        <div class="question__separator"></div>
        <div class="question__btns">
            <button type="button" class="btn btn--black">Отмена</button>
            <button type="submit" class="btn btn--accent">Отправить вопрос</button>
        </div>
    </form>
</dialog>

<div class="question__confirm">
    <p class="question__confirm-text">Ваш вопрос отправлен</p>
    <button class="question__confirm-btn" type="button" aria-label="Close tip">
        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.25 0.75L6.5 6M6.5 6L11.75 11.25M6.5 6L11.75 0.75M6.5 6L1.25 11.25" stroke="white" stroke-width="1.3"></path>
        </svg>
    </button>
</div>

<script>
    const dialogElem = document.getElementById('faq-dialog');
    const dialogOpenBtn = document.getElementById('faq-dialog-open');
    const dialogCloseBtn = document.getElementById('faq-dialog-close');

    if (dialogOpenBtn && dialogElem) {
        dialogOpenBtn.addEventListener('click', () => {
            // @ts-ignore
            dialogElem.showModal();
            document.body.style.overflow = 'hidden';
        });
    }

    if (dialogCloseBtn && dialogElem) {
        dialogCloseBtn.addEventListener('click', () => {
            // @ts-ignore
            dialogElem.close();
            document.body.style.overflow = 'auto';
        });
    }
</script>

<style lang="scss">
    .question {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        border: none;
        margin: unset;
        background-color: $color-light;
        padding: 16px 20px;

        max-width: 517px;
        width: 100%;

        @media (max-width: 768px) {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: unset;
            height: 100%;
            max-width: unset;
            min-height: 100% !important;
        }

        &__top {
            display: flex;
            flex-direction: column;
        }

        &__close {
            background-color: transparent;
            margin-left: auto;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;

            path {
                transition: stroke 0.2s ease-in-out;
            }

            @media (any-hover: hover) {
                &:hover {
                    path {
                        stroke: #3f404b;
                    }
                }
            }
        }

        &__title {
            font-family: $second-font;
            font-size: 24px;
            font-weight: 400;

            margin-bottom: 16px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            @media (max-width: 768px) {
                gap: 12px;
            }
        }

        &__radio-title {
            font-size: 14px;
            line-height: 1.2;
            margin-bottom: 8px;
        }

        &__radio-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__radio-elem {
            position: relative;
            width: 100%;
        }

        &__radio-label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            text-wrap: nowrap;
            width: 100%;
            height: 100%;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;

            pointer-events: none;

            font-size: 14px;
            line-height: 1.2;
        }

        &__radio-input {
            appearance: none;
            height: 34px;
            width: 100%;
            display: block;
            border: 1px solid #c7c7c7;
            cursor: pointer;
        }

        &__radio-input:checked + .question__radio-label {
            background-color: $color-accent-btn;
        }

        &__error {
            font-size: 13px;
            color: #f35151;
            letter-spacing: 0.045em;
            font-weight: 300;

            display: none;
        }

        &__error--active {
            display: block;
        }

        &__policy {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &__policy-checkbox {
            width: 16px;
            height: 16px;
            accent-color: $color-accent-btn;
        }

        &__policy-text {
            font-size: 14px;
            line-height: 1.2;

            a {
                text-decoration: underline;
                text-decoration-skip-ink: none;
            }
        }

        &__separator {
            position: relative;
            width: 200%;
            left: -50%;
            height: 2px;
            background-color: #dbdbdb;
        }

        &__btns {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-left: auto;

            @media (max-width: 768px) {
                flex-direction: row-reverse;
                margin-left: unset;
                margin-right: auto;
            }
        }

        &__confirm {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            visibility: hidden;
            opacity: 0;

            padding: 12px 20px;

            background-color: $color-dark;
            @media (max-width: 768px) {
                bottom: unset;
                top: 78px;
                width: 237px;

            }
        }

        &__confirm--active {
            visibility: visible;
            opacity: 1;
        }

        &__confirm-text {
            font-size: 15px;
            line-height: 1.3;
            font-weight: 300;
            color: $color-light;
            flex-shrink: 0;
        }

        &__confirm-btn {
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
</style>
