---
import '@/styles/main.scss';
import Footer from './Footer/Footer.astro';
import Header from './Header/Header.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Shopi</title>
    </head>
    <body>
        <Header />
        <main class="main">
            <slot />
        </main>
        <Footer />
        <script src="../../src/scripts/main.js"></script>
    </body>
</html>
