---
import '@/styles/main.scss';
import Footer from './Footer/Footer.astro';
import Header from './Header/Header.astro';
import MobileMenu from './MobileMenu/MobileMenu.astro';
---

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Выкупаем и доставляем товары из Португалии в Казахстан" />
        <meta property="og:url" content="https://dashing-stroopwafel-e73855.netlify.app" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Shopi" />
        <meta property="og:description" content="Выкупаем и доставляем товары из Португалии в Казахстан" />
        <meta property="og:image" content="https://dashing-stroopwafel-e73855.netlify.app/img/share.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="dashing-stroopwafel-e73855.netlify.app" />
        <meta property="twitter:url" content="https://dashing-stroopwafel-e73855.netlify.app" />
        <meta name="twitter:title" content="Shopi" />
        <meta name="twitter:description" content="Выкупаем и доставляем товары из Португалии в Казахстан" />
        <meta name="twitter:image" content="https://dashing-stroopwafel-e73855.netlify.app/img/share.png" />
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <title>Shopi</title>
    </head>
    <body>
        <Header />
        <main class="main">
            <slot />
            <MobileMenu />
        </main>
        <Footer />
        <script src="../../src/scripts/main.js"></script>
    </body>
</html>
