---
import './HowThisWork.scss';
---

<section class="how">
    <div class="container how__inner">
        <div class="how__container">
            <div class="how__item">
                <div id="step-1" class="how__num">Шаг 1</div>
                <h1 class="how__title">Оформление и оплата заказа</h1>
                <p class="how__text">Через Shopi вы&nbsp;можете заказать товары с&nbsp;любых сайтов, у&nbsp;которых доступна беспошлинная доставка в&nbsp;Португалию.</p>
                <div class="how__step">
                    <h2 class="how__subtitle">Как оформить заказ</h2>
                    <p class="how__text">1. На&nbsp;сайте бренда выберите страну &laquo;Португалия&raquo;, чтобы увидеть актуальные цены и&nbsp;наличие товаров.</p>
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/How/how-1-mobile.webp" />
                        <img src="img/How/how-1.webp" alt="Example 1" width="844" height="460" class="how__img" />
                    </picture>
                </div>
                <div class="how__step">
                    <p class="how__text">2. Добавьте выбранные товары в&nbsp;форму заказа на&nbsp;Shopi. В&nbsp;одном заказе могут быть вещи только из&nbsp;одного магазина.</p>
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/How/how-2-mobile.webp" />
                        <img src="img/How/how-2.webp" alt="Example 2" width="844" height="460" class="how__img" />
                    </picture>
                </div>
                <div class="how__step">
                    <p class="how__text">3. Оформите заказ и&nbsp;оплатите товары вместе с&nbsp;доставкой до&nbsp;нашего склада через Shopi. Доступны карты Visa, Mastercard, Мир, а&nbsp;также оплата криптовалютой.</p>
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/How/how-3-mobile.webp" />
                        <img src="img/How/how-3.webp" alt="Example 3" width="844" height="460" class="how__img" />
                    </picture>
                </div>
            </div>

            <div class="how__item">
                <div id="step-2" class="how__num">Шаг 2</div>
                <h2 class="how__title">Доставка заказа на склад Shopi</h2>
                <div class="how__text">
                    <p>После оплаты мы&nbsp;выкупаем заказ с&nbsp;доставкой на&nbsp;наш склад. Обычно это занимает до&nbsp;15&nbsp;рабочих дней. Чаще всего посылки приходят быстрее, однако во&nbsp;время распродаж возможны задержки. Когда заказ поступит на&nbsp;склад, мы&nbsp;отправим письмо на&nbsp;электронную почту.</p>
                    <p>Если товара не&nbsp;будет в&nbsp;наличии, средства вернутся на&nbsp;баланс вашего личного кабинета Shopi.</p>
                </div>
            </div>

            <div class="how__item">
                <div id="step-3" class="how__num">Шаг 3</div>
                <h2 class="how__title">Доставка со склада до вашего адреса</h2>
                <p class="how__text">Когда заказ поступит на&nbsp;склад, вы&nbsp;можете оформить доставку товаров на&nbsp;ваш адрес. Вы&nbsp;можете объединять товары из&nbsp;разных заказов в&nbsp;одну посылку. Также можно собирать товары в&nbsp;несколько посылок, чтобы не&nbsp;превышать таможенный лимит вашей страны.</p>
                <div class="how__step">
                    <h3 class="how__subtitle">Как оформить доставку до адреса</h3>
                    <p class="how__text">1. Выберите товары, которые хотите добавить в&nbsp;посылку, поставив галочки напротив нужных позиций.</p>
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/How/how-4-mobile.webp" />
                        <img src="img/How/how-4.webp" alt="Example 4" width="844" height="460" class="how__img" />
                    </picture>
                </div>
                <div class="how__step">
                    <p class="how__text">2. После оплаты доставки мы&nbsp;отправляем посылку и&nbsp;предоставляем трек‑номер. Срок доставки&nbsp;&mdash; от&nbsp;10&nbsp;до&nbsp;45&nbsp;рабочих дней, однако посылки нередко приходят быстрее.</p>
                    <picture>
                        <source media="(max-width: 768px)" srcset="img/How/how-5-mobile.webp" />
                        <img src="img/How/how-5.webp" alt="Example 5" width="844" height="460" class="how__img" />
                    </picture>
                </div>
            </div>

            <div class="how__item">
                <div id="step-4" class="how__num">Шаг 4</div>
                <h2 class="how__title">Получение заказа</h2>
                <p class="how__text">Дождитесь уведомления от&nbsp;почтовой службы, что заказ доставлен. Вы&nbsp;можете отслеживать статус посылки по&nbsp;трек-номеру, который привязан к&nbsp;заказу в&nbsp;вашем личном кабинете.</p>
                <picture>
                    <source media="(max-width: 768px)" srcset="img/How/how-6-mobile.webp" />
                    <img src="img/How/how-6.webp" alt="Example 6" width="844" height="460" class="how__img" />
                </picture>
            </div>

            <div class="how__item rules">
                <div id="rules" class="how__step">
                    <h2 class="how__title">Правила работы</h2>
                    <p class="how__text">Shopi предоставляет только услуги по&nbsp;выкупу и&nbsp;доставке товара. Команда сверяет размеры и&nbsp;артикулы с&nbsp;теми, что обозначены на&nbsp;этикетке. Никаких дополнительных сверок не&nbsp;производится.</p>
                </div>
                <div class="how__step">
                    <h3 class="how__subtitle">Оформление заказа</h3>
                    <p class="how__text">Если товара не&nbsp;будет в&nbsp;наличии, средства вернутся на&nbsp;баланс вашего личного кабинета Shopi. Эти деньги можно использовать для следующих покупок с&nbsp;Shopi. Возврат средств на&nbsp;карту, с&nbsp;которой была оплачена покупка, не&nbsp;предусмотрен.</p>
                </div>
                <div class="how__step">
                    <h3 class="how__subtitle">Посылка</h3>
                    <div class="how__text">
                        <p><b>Максимальный размер посылки&nbsp;&mdash; 50&times;40&times;20&nbsp;см.</b> Сервис Shopi не&nbsp;пересылает крупногабаритный товар, например, мебель, ковры, одеяла, подушки, мячи, прочее.</p>
                        <p><b>Хрупкие предметы.</b> Сервис не&nbsp;несет ответственности за&nbsp;доставку хрупких предметов. Например, серьги, шляпы, жидкости в&nbsp;стеклянной таре и&nbsp;т.д., могут быть повреждены в&nbsp;ходе транспортировки, поэтому не&nbsp;рекомендованы к&nbsp;заказу.</p>
                        <p><b>Запрещенные товары к&nbsp;авиапересылке.</b> Огнеопасные продукты&nbsp;&mdash; парфюмы, диффузоры, спиртосодержащие вещества и&nbsp;т.д. &mdash;&nbsp;запрещены к&nbsp;авиапересылке.</p>
                    </div>
                </div>

                <div class="how__step">
                    <h3 class="how__subtitle">Доставка</h3>
                    <div class="how__text">
                        <p><b>Комплектовка доставки.</b> Заказы оформленные из&nbsp;разных учетных записей или разными клиентами, в&nbsp;одну посылку собирать нельзя.</p>

                        <p><b>Изменения в&nbsp;доставку.</b> После того, как доставка оплачена, внести коррективы, добавить или удалить заказ или товар из&nbsp;посылки невозможно.</p>

                        <p><b>Сроки доставки.</b> Из-за сложной геополитической обстановки и&nbsp;санкций сроки доставки могут быть увеличены.</p>

                        <p><b>Пересылка со&nbsp;склада до&nbsp;вас.</b> Shopi не&nbsp;уведомляет клиента о&nbsp;перемещении посылки и&nbsp;не&nbsp;несет ответственности за&nbsp;несвоевременное получение посылки или отказ от&nbsp;получения.</p>
                        <p><b>Страховка.</b> Страхование посылки стоит 7&nbsp;&euro;, и&nbsp;оплачивается по&nbsp;желанию. Страховка гарантирует выплату стоимости содержимого посылки в&nbsp;форс-мажорных ситуациях, например при ее&nbsp;утере. Без оплаты страховки возвращается только стоимость пересылки.</p>
                        <p><b>Таможенные пошлины.</b> Shopi не&nbsp;начисляет и&nbsp;не&nbsp;оплачивает таможенные пошлины.</p>
                        <p><b>Хранение на&nbsp;складе.</b> Shopi бесплатно хранит товар на&nbsp;складе в&nbsp;течение 3&nbsp;месяцев, если объем хранящихся товаров не&nbsp;превышает максимальный объем посылки 50&times;40&times;20&nbsp;см. Если товары превысили максимальный объем, логисты формируют посылку к&nbsp;отправке и&nbsp;выставляют счет к&nbsp;оплате за&nbsp;пересылку. Счет необходимо оплатить в&nbsp;течение 24&nbsp;часов, иначе товар будет утилизирован.</p>
                    </div>
                </div>

                <div class="how__step">
                    <h3 class="how__subtitle">Отмены и возвраты</h3>
                    <p class="how__text">Выкупленные товары отмене и&nbsp;возврату не&nbsp;подлежат. Проверки на&nbsp;дефекты, качество, наличие брака и&nbsp;полноту комплектации, а&nbsp;также персонализация товара не&nbsp;осуществляются. Товар высылается в&nbsp;таком виде, в&nbsp;каком был получен из&nbsp;интернет-магазина.</p>
                </div>

                <div class="how__step">
                    <p class="how__text">Если у вас остались вопросы, пишите на <a href="mailto:info@shopi.store">info@shopi.store</a></p>
                </div>
            </div>
        </div>
        <nav class="how__nav">
            <div class="how__nav-title">Содержание</div>
            <ul class="how__nav-list">
                <li>
                    <a class="how__nav-item how__nav-item--active" href="#step-1"> Шаг 1. Оформление и оплата заказа </a>
                </li>
                <li>
                    <a class="how__nav-item" href="#step-2">Шаг 2. Доставка заказа на склад Shopi</a>
                </li>
                <li>
                    <a class="how__nav-item" href="#step-3">Шаг 3. Доставка со склада до вашего адреса</a>
                </li>
                <li>
                    <a class="how__nav-item" href="#step-4">Шаг 4. Получение заказа</a>
                </li>
                <li>
                    <a class="how__nav-item" href="#rules">Правила работы</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
