---
import Logo from '@/components/ui/Logo/Logo.astro';
import './Footer.scss';
---

<footer class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <div class="footer__logo">
                <Logo />
            </div>
            <p class="footer__questions">
                По всем вопросам пишите нам на
                <a href="mailto:info@shopi.com">info@shopi.com</a>
            </p>
            <div class="footer__info-wrap">
                <a href="#">Политика конфиденциальности и условия использования</a>
                <a href="#">Cookies</a>
            </div>
        </div>
        <p class="footer__copy">
            Все права защищены. Копирование и&nbsp;использование полностью или по&nbsp;частям, с&nbsp;изменениями или без них, запрещено. Сайт shopi.com и&nbsp;торговая марка SHOPI принадлежат португальской компании SHOPPING PORTUGAL SHPS LDA, VAT: PT513172513 <br /> All rights resereved&nbsp;&copy;
        </p>
        <div class="footer__banks">
            <img src="img/Footer/pay_1.webp" width="60" height="40" alt="Bank logo 1" class="footer__bank-logo" loading="lazy" />
            <img src="img/Footer/pay_2.webp" width="60" height="40" alt="Bank logo 2" class="footer__bank-logo" loading="lazy" />
            <img src="img/Footer/pay_3.webp" width="60" height="40" alt="Bank logo 3" class="footer__bank-logo" loading="lazy" />
            <img src="img/Footer/pay_4.webp" width="60" height="40" alt="Bank logo 4" class="footer__bank-logo" loading="lazy" />
            <img src="img/Footer/pay_5.webp" width="60" height="40" alt="Bank logo 5" class="footer__bank-logo" loading="lazy" />
            <img src="img/Footer/pay_6.webp" width="60" height="40" alt="Bank logo 6" class="footer__bank-logo" loading="lazy" />
            <img src="img/Footer/pay_7.webp" width="60" height="40" alt="Bank logo 7" class="footer__bank-logo" loading="lazy" />
            <img src="img/Footer/pay_8.webp" width="60" height="40" alt="Bank logo 8" class="footer__bank-logo" loading="lazy" />
        </div>
    </div>
</footer>
