---
import './Promo.scss';
---

<section class="promo">
    <div class="container">
        <div class="promo__inner">
            <div class="promo__picture">
                <img src="img/Promo/promo.webp" alt="Cloth" width="445" height="155" class="promo__img" />
            </div>
            <div class="promo__content">
                <h2 class="promo__title">Уже выбрали себе трендовые вещи в Португалии?</h2>
                <p class="promo__text">Оформление заказа займет всего несколько минут, а&nbsp;на&nbsp;каждом этапе есть подсказки по&nbsp;дальнейшим шагам</p>
            </div>
            <button type="button" class="promo__btn btn btn--accent">Оформить заказ</button>
        </div>
    </div>
</section>
